.foot {
    background: linear-gradient(rgba(23, 41, 61, 0.361), rgba(22, 40, 61, 0.308)), url("../Img1/bg2.jpg");
    margin-top: -23vh;
    padding-top: 20vh;
    -webkit-clip-path: polygon(50% 20%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    clip-path: polygon(50% 20%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    padding-bottom: 15rem;
}

.socialhandles {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
}

@media (max-width:850px) {
    .socialhandles {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
    }

}

.social {
    /* align-self: center; */
    font-size: 5rem;
    margin-left: 7rem;
}

.social:nth-child(1) {
    color: #1971c2;
}

.social:nth-child(2) {
    color: white;

}

.social:nth-child(3) {

    color: #e64980;

}


.social:nth-child(4) {
    color: #1971c2;
}