.heroimg {
    height: 100vh;
    background: linear-gradient(rgba(16, 29, 44, 0.91), rgba(16, 29, 44, 0.91)), url("../Img1/background.jpg") center center fixed;
    background-size: cover;

}

.subherotxt {
    position: absolute;
    transform: translateX(-50%);

    left: 50%;
    top: 50%;
    font-family: "Rubik", sans-serif;
    color: #ffffff;

}

.herotxt {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 20px;
    cursor: pointer;
    filter: blur(5px);
    transition: 0.3s all;
}

.herotxt:hover {
    filter: blur(0);
}